/* header-container is for the background images/shapes behind the header */

.header-container {
    background-image: linear-gradient(to left, rgba(231, 231, 231, 0.1) 0, white);
    position: relative;
    overflow: hidden;
}

.circle {
    background: rgba(229, 229, 229, .3);
    width: 1000px;
    height: 1000px;
    border-radius: 50%;
    position: absolute;
    bottom: -425px;
    right: 300px;
    z-index: -10;
}

.triangle-up {
    width: 0;
    height: 0;
    border-left: 500px solid transparent;
    border-right: 500px solid transparent;
    border-bottom: 1000px solid rgb(240, 240, 240);
    position: absolute;
    bottom: 0;
    right: -350px;
    z-index: -9;
}

.triangle-left {
    width: 0;
    height: 0;
    border-top: 250px solid transparent;
    border-right: 2000px solid white;
    border-bottom: 250px solid transparent;
    position: absolute;
    bottom: -350px;
    right: 0;
    z-index: -8;
}


/* header-section container will contain topNav, bottomNav and empowering section*/

.header-section {
    max-width: 75rem;
    height: 600px;
    margin: 0 auto;
    padding: 15px 15px 0;
}


/* topNav has 3 p elements: Main Demo, Demos, and Docs */

.topNav {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
    position: relative;
    z-index: 550;
}

.topNav-push-right {
    margin-left: auto;
    margin-right: 30px;
}

.arrow-down {
    position: absolute;
    right: 70px;
    top: 5px;
    cursor: pointer;
}

#demos[aria-expanded="false"]+ul {
    display: none;
}

#docs[aria-expanded="false"]+ul {
    display: none;
}

#footerCountries[aria-expanded="false"]+ul {
    display: none;
}

#demos[aria-expanded="true"]+ul {
    right: 75px;
    top: 25px;
}

#docs[aria-expanded="true"]+ul {
    right: -25px;
    top: 25px;
    width: 93px;
}

#footerCountries[aria-expanded="true"]+ul {
    right: -25px;
    top: 25px;
    width: 93px;
}

[aria-expanded="true"]+ul {
    display: block;
    position: absolute;
    background-image: linear-gradient(to right, rgba(255, 255, 255, 0.7), grey);
    box-shadow: 0 0 var(--size-20) rgba(52, 49, 75, 0.1);
    border-radius: 3px;
    text-align: center;
}

[aria-expanded="true"]+ul li a {
    margin: var(--size-20);
    color: var(--font-color-dark);
}


/* bottomNav has 3 section: a logo, an un-ordered list, and a Buy Now button, in a flex row */

.bottomNav {
    max-width: 75rem;
    height: 130px;
    margin: 0 auto;
    padding: 15px 15px 0;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    z-index: 500;
    /* transition: ease-in-out 0.3s; */
    display: flex;
    align-items: center;
    margin-bottom: 80px;
}

.bottomNav.sticky {
    position: fixed;
    height: 45px;
    animation: reveal-nav-sticky .3s linear forwards;
}

@keyframes reveal-nav-sticky {
    from {
        top: -45px;
        left: 0;
    }
    to {
        visibility: visible;
        top: 0;
        left: 0;
    }
}

.bottomNav.stickySlideUp {
    position: absolute;
    height: 130px;
    animation: reveal-nav-stickySlideUp .3s linear;
    transition: ease-in-out .3s;
}

@keyframes reveal-nav-stickySlideUp {
    from {
        top: 0;
        left: 0;
    }
    to {
        /* visibility: visible; */
        top: 0;
        left: 0;
    }
}

.navbg {
    visibility: hidden;
    background: var(--white);
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 400;
    height: 60px;
    border-bottom: 1px solid rgba(189, 188, 188, .5);
    box-shadow: 0 0 var(--size-20) rgba(48, 63, 100, 0.2);
}

.navbg.sticky {
    animation: reveal-navbg .3s linear forwards;
}

@keyframes reveal-navbg {
    from {
        top: -60px;
        left: 0;
    }
    to {
        visibility: visible;
        top: 0;
        left: 0;
    }
}

.navbg.stickySlideUp {
    visibility: visible;
    animation: slideUp-navbg .3s linear forwards;
}

@keyframes slideUp-navbg {
    from {
        top: 0;
        left: 0;
    }
    to {
        top: -60px;
        left: 0;
    }
}

.bottomNav img {
    width: 50%;
}

.bottomNav-push-right {
    margin-left: auto;
}

.bottomNav ul {
    display: flex;
    align-items: center;
}

.bottomNav li a {
    line-height: var(--size-20);
    margin-right: var(--size-40);
    font-size: var(--size-16);
}

.bottomNav li:first-child a {
    color: var(--font-color-btn);
}


/* Section empowering; contains block-text and block-icons div */

.empowering {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 125px 0 40px;
}

.empowering>div {
    flex: 1;
}


/* block-text section contains h1, p, and 2 buttons */

.empowering .block-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.empowering .block-text h1 {
    font-size: var(--size-50);
    line-height: 1;
    margin: 0;
    padding: 0;
    font-weight: 900;
    color: var(--black);
}

.empowering .block-text p {
    margin: 0;
    font-weight: 600;
    padding: var(--size-10) 0 var(--size-20);
}

.empowering .empowering-buttons {
    margin: 0;
    padding: 0;
}


/* block-icons; contains 7 icons */

.empowering .block-icons {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(3, 125px);
}

.empowering .block-icons>div {
    display: flex;
    justify-content: center;
    align-items: center;
}

.google-logo {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
    position: relative;
}

.atlassian-logo {
    grid-column: 2 / 3;
    grid-row: 1 / 2;
    position: relative;
}

.asana-logo {
    grid-column: 4 / 5;
    grid-row: 1 / 2;
    position: relative;
}

.paypal-logo {
    grid-column: 1 / 2;
    grid-row: 2 / 3;
    position: relative;
}

.weave-logo {
    grid-column: 3 / 4;
    grid-row: 2 / 3;
    position: relative;
}

.google-ads-logo {
    grid-column: 2 / 3;
    grid-row: 3 / 4;
    position: relative;
}

.calendar-logo {
    grid-column: 4 / 5;
    grid-row: 3 / 4;
    position: relative;
}

.empowering .round-white-bg {
    background-color: var(--white);
    border-radius: 50%;
    box-shadow: 0 5px 10px 3px rgb(235 235 235);
    display: flex;
    justify-content: center;
    align-items: center;
}

.empowering .small {
    width: 50px;
    height: 50px;
}

.empowering .big {
    width: 65px;
    height: 65px;
}

.google-img-container {
    visibility: hidden;
    position: absolute;
    left: 40px;
    top: 20px;
    animation: reveal-google .5s linear forwards;
}

@keyframes reveal-google {
    from {
        position: absolute;
        opacity: 0;
        top: 60px;
        left: 40px;
        transform: scaleX(0);
    }
    to {
        visibility: visible;
        position: absolute;
        opacity: 1;
        top: 20px;
        left: 40px;
        transform: scaleX(1);
    }
}

.atlasian-img-container {
    visibility: hidden;
    position: absolute;
    left: 20px;
    top: 80px;
    animation: reveal-atlasian .5s linear .5s forwards;
}

@keyframes reveal-atlasian {
    from {
        position: absolute;
        opacity: 0;
        top: 120px;
        left: 20px;
        transform: scaleX(0);
    }
    to {
        visibility: visible;
        position: absolute;
        opacity: 1;
        top: 80px;
        left: 20px;
        transform: scaleX(1);
    }
}

.asana-img-container {
    visibility: hidden;
    position: absolute;
    left: -70px;
    top: 50px;
    animation: reveal-asana .5s linear .25s forwards;
}

@keyframes reveal-asana {
    from {
        position: absolute;
        opacity: 0;
        top: 90px;
        left: -70px;
        transform: scaleX(0);
    }
    to {
        visibility: visible;
        position: absolute;
        opacity: 1;
        top: 50px;
        left: -70px;
        transform: scaleX(1);
    }
}

.paypal-img-container {
    visibility: hidden;
    position: absolute;
    left: 32px;
    top: 40px;
    animation: reveal-paypal .5s linear .75s forwards;
}

@keyframes reveal-paypal {
    from {
        position: absolute;
        opacity: 0;
        top: 80px;
        left: 32px;
        transform: scaleX(0);
    }
    to {
        visibility: visible;
        position: absolute;
        opacity: 1;
        top: 40px;
        left: 32px;
        transform: scaleX(1);
    }
}

.weave-img-container {
    visibility: hidden;
    position: absolute;
    left: -40px;
    top: 38px;
    animation: reveal-weave .5s linear .25s forwards;
}

@keyframes reveal-weave {
    from {
        position: absolute;
        opacity: 0;
        top: 78px;
        left: -40px;
        transform: scaleX(0);
    }
    to {
        visibility: visible;
        position: absolute;
        opacity: 1;
        top: 38px;
        left: -40px;
        transform: scaleX(1);
    }
}

.google-ads-img-container {
    visibility: hidden;
    position: absolute;
    left: -25px;
    top: 20px;
    animation: reveal-ads .5s linear .75s forwards;
}

@keyframes reveal-ads {
    from {
        position: absolute;
        opacity: 0;
        top: 60px;
        left: -25px;
        transform: scaleX(0);
    }
    to {
        visibility: visible;
        position: absolute;
        opacity: 1;
        top: 20px;
        left: -25px;
        transform: scaleX(1);
    }
}

.calendar-img-container {
    visibility: hidden;
    position: absolute;
    left: -80px;
    top: 60px;
    animation: reveal-calendar .5s linear .5s forwards;
}

@keyframes reveal-calendar {
    from {
        position: absolute;
        opacity: 0;
        top: 100px;
        left: -80px;
        /* transform: scaleX(0); */
    }
    to {
        visibility: visible;
        position: absolute;
        opacity: 1;
        top: 60px;
        left: -80px;
        /* transform: scaleX(1); */
    }
}

.empowering .block-icons img {
    width: 50%;
}

.empowering .block-icons .ads-icon {
    width: 70%;
}


/* Section key-benefits */

.key-benefits {
    max-width: 75rem;
    margin: 0 auto;
    padding: 100px 15px;
    text-align: center;
    background-image: linear-gradient(to top, rgba(231, 231, 231, 0.25) 0, white);
}

.key-benefits h2 {
    font-size: var(--size-40);
    font-weight: 600;
    color: var(--black);
    margin: 0 auto;
    padding-bottom: var(--size-10);
}

.benefits-cards-container {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 100px 0 20px;
}

.benefits-card {
    min-width: 125px;
    max-width: 250px;
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    border-radius: 5px;
    box-shadow: 5px 5px var(--size-20) rgba(48, 63, 100, 0.2);
    padding: var(--size-20);
}

.card-img-container {
    max-width: 50px;
    min-width: 50px;
}

.card-p-container {
    text-align: left;
    min-height: 75px;
    max-height: 75px;
}

.benefits-card a {
    font-weight: 600;
}

.benefits-card .arrow-blue {
    border-width: 0 2px 2px 0;
}

.sketch-container h3 {
    display: inline-block;
}

.sketch-container a {
    background-color: rgb(0, 201, 166);
    padding: 0 0.5rem;
}


/* Section Perspective */

.perspective {
    max-width: 75rem;
    margin: 0 auto;
    padding: 150px 0 0;
    text-align: center;
    background-color: rgb(248, 250, 254);
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    z-index: -4;
    overflow: hidden;
}

.perspective .block-text {
    width: 50%;
    padding: 0 var(--size-50);
    text-align: left;
}

.perspective h2 {
    font-size: var(--size-30);
    font-weight: 700;
    color: var(--black);
    margin: 0 auto;
    padding-bottom: var(--size-30);
}

.perspective a {
    font-weight: 600;
    padding: .75rem 1.5rem;
    font-size: var(--size-16);
}

.grey-square1 {
    height: 800px;
    width: 800px;
    background-color: rgba(243, 245, 247, .5);
    bottom: -340px;
    right: -90px;
    position: absolute;
    border-radius: 75px;
    z-index: -3;
}

.white-square {
    height: 800px;
    width: 800px;
    background-color: rgb(248, 250, 254);
    bottom: -333px;
    right: -83px;
    position: absolute;
    border-radius: 75px;
    z-index: -4;
}

.grey-square2 {
    height: 800px;
    width: 800px;
    background-color: rgba(243, 245, 247, .5);
    bottom: -322px;
    right: -73px;
    position: absolute;
    border-radius: 75px;
    z-index: -5;
}

.perspective img {
    box-shadow: -5px -5px var(--size-20) rgba(48, 63, 100, 0.2);
}


/* Section Why Front */

.why-front {
    max-width: 75rem;
    margin: 0 auto;
    padding: 150px 0 0;
    text-align: center;
    background-color: var(--white);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.why-front h2 {
    font-size: var(--size-40);
    font-weight: 600;
    color: var(--black);
    margin: 0 auto;
    padding-bottom: var(--size-10);
}

.why-front p {
    font-size: var(--size-16);
    padding: var(--size-10) 0;
    font-weight: 600;
    color: var(--font-color-base);
}

.why-front .bullet-points {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 75px 0 var(--size-10);
}

.bullet-points .bullet {
    background-color: rgb(236, 242, 255);
    border-radius: 50px;
    width: 45px;
    height: 45px;
    max-width: 45px;
    max-height: 45px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.bullet .dot {
    color: rgb(55, 125, 255);
    font-size: var(--size-50);
}

.bullet-points .straight-line {
    background-color: rgb(236, 242, 255);
    width: 150px;
    height: 3px;
    margin: 0 15px;
    align-self: flex-start;
    margin-top: 20px;
}

.why-front .points {
    display: flex;
    justify-content: left;
    align-items: center;
    min-width: 70%;
}

.points h3 {
    width: 250px;
    padding: 0;
    margin: 10px 0 75px;
}

.points h3:first-child {
    padding-left: 78px;
}

.points h3:nth-child(2) {
    padding-left: 32px;
}

.points h3:nth-child(3) {
    padding-right: 20px;
}

.points h3:nth-child(4) {
    padding-right: 80px;
}


/* Section Template */

.template {
    max-width: 75rem;
    margin: 0 auto;
    padding: 15px 15px 0;
    text-align: center;
    background-color: var(--white);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.template .img-text-block {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 100px;
}

.img-text-block .img-block {
    flex: 1;
    display: flex;
    flex-direction: column;
    position: relative;
    padding: 100px 0;
}

.dots-img {
    width: 40%;
    position: absolute;
    left: 0;
    top: 305px;
}

.woman-img {
    width: 90%;
    align-self: flex-end;
    z-index: 100;
}

.woman-img img {
    border-radius: 5px;
}

.img-text-block .text-block {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    flex: 1;
    text-align: left;
    padding-left: 80px;
}

.text-block img {
    width: 20%;
}

.text-block p {
    font-size: 24px;
    font-weight: 600;
    margin: 30px 75px 30px 0;
}

.text-block h3 {
    font-size: 20px;
    font-weight: 700;
    color: var(--black);
    margin: 0;
    padding: 0;
}

.text-block h4 {
    margin-top: 5px;
    font-size: 14px;
}

.logo-section .logos {
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo-section h3 {
    text-transform: uppercase;
    margin-bottom: 40px;
}

.logos div {
    flex: 1;
    padding: 0 60px;
}


/* Pricing section */

.pricing {
    max-width: 75rem;
    margin: 0 auto 150px;
    padding: 75px 15px 0;
    text-align: center;
    display: flex;
    flex-direction: column;
}

.pricing>h1 {
    color: var(--black);
    font-size: var(--size-40);
    font-weight: 600;
    margin-bottom: 0;
}

.pricing>p {
    font-size: var(--size-16);
    font-weight: 600;
    margin-bottom: 75px;
}

.pricing-cards-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.pricing-cards-container .card-container {
    flex: 1;
}

.pricing-card {
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    box-shadow: 0 10px 10px -1px rgb(235, 235, 235);
    padding: 50px 30px;
    text-align: left;
}

.pricing-card h2 {
    color: var(--black);
    font-size: var(--size-50);
    font-weight: 700;
    margin-bottom: var(--size-20);
}

.pricing-card h2 span {
    font-size: 24px;
    font-weight: 600;
}

.pricing-card hr {
    height: 2px;
    color: var(--font-color-light);
    background-color: rgba(231, 231, 231, 1);
    border: none;
    width: 100%;
}

.pricing-card p {
    padding: 20px 40px 40px 0;
    font-weight: 600;
}

.pricing-card .btn {
    padding: 0.75rem 1.25rem;
    font-size: var(--size-16);
    font-weight: 700;
    border-radius: var(--size-30);
}

.pricing-card span {
    padding-top: 10px;
    font-size: 13px;
    font-weight: 600;
}

.pricing-cards-container .grid-container {
    flex: 1.25;
}

.pricing-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    text-align: left;
    gap: 20px;
}

.pricing-grid img {
    width: 20%;
}

.pricing-grid-card h3 {
    font-weight: 700;
    font-size: var(--size-18);
    color: var(--black);
}

.pricing-grid-card p {
    font-weight: 600;
    font-size: var(--size-16);
}


/* Hire Us section */

.hire-us {
    max-width: 75rem;
    margin: 0 auto;
    padding: 75px 15px 75px;
    text-align: center;
    background-color: rgb(33, 51, 91);
    display: flex;
    justify-content: center;
    align-items: center;
}

.hire-us-left-section {
    flex: 6;
    padding-left: var(--size-50);
}

.hire-us-left {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    text-align: left;
}

.hire-us-left>h1 {
    color: var(--white);
    font-size: var(--size-40);
    font-weight: 600;
    padding: 0;
    margin: 0;
}

.hire-us-left>p {
    color: var(--font-color-light);
    font-size: var(--size-16);
}

.hire-us-left hr {
    height: 2px;
    color: var(--font-color-light);
    background-color: rgba(231, 231, 231, .25);
    border: none;
    width: 45%;
    padding: 0;
    margin: var(--size-30) 0 0;
}

.hire-us-left>h2 {
    color: var(--white);
    font-style: italic;
    font-size: 24px;
    margin-top: var(--size-30);
}

.hire-us-left>h3 {
    color: var(--white);
    font-weight: 600;
    margin-bottom: 0;
}

.hire-us-left>span {
    color: var(--font-color-light);
    font-size: 12px;
}

.hire-us-img-container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: var(--size-20);
}

.hire-us-img-container>div {
    max-width: 55px;
    min-width: 55px;
    padding-right: var(--size-20);
}

.hire-us-img-container>div:last-child {
    max-width: 75px;
    min-width: 75px;
}

.hire-us-left-section>div img {
    border-radius: var(--size-100);
}

.hire-us-right-section {
    flex: 7.5;
    padding-left: var(--size-50);
}

.hire-us-right {
    background-color: var(--white);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 80%;
    padding: var(--size-40) var(--size-50);
    border-radius: 5px;
}

.hire-us-right>form {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    text-align: left;
    padding: 0;
    margin: 0;
}

form>h2 {
    font-size: 20px;
    font-weight: 700;
    color: var(--black);
}

form .grid-form {
    display: grid;
    grid-template-columns: repeat(2, 180px);
    gap: 20px 12px;
    padding: var(--size-16) 0 var(--size-20);
    justify-content: left;
    align-items: left;
    margin: 0;
    width: 100%;
}

.grid-form>input {
    padding: var(--size-16) var(--size-10);
    border-radius: 5px;
    border: 2px solid var(--font-color-light);
    font-size: var(--size-16);
    font-weight: 500;
    color: var(--font-color-light);
}

.grid-form>input::placeholder {
    color: var(--font-color-light);
}

.grid-form>select {
    padding: var(--size-16) var(--size-10);
    border-radius: 5px;
    border: 2px solid var(--font-color-light);
    font-size: var(--size-16);
    font-weight: 600;
    color: rgba(0, 0, 0, .75);
}

form>textarea {
    width: 100%;
    color: var(--font-color-light);
    font-size: var(--size-16);
    padding: var(--size-14);
    border: 2px solid var(--font-color-light);
    border-radius: 5px;
    font-weight: 600;
}

form .checkbox {
    display: flex;
    padding: var(--size-30) 0;
}

.checkbox>label {
    font-size: 14px;
    color: var(--font-color-light);
    font-weight: 600;
}

.checkbox a {
    border-bottom: 1px dashed black;
}

form>.btn {
    border-radius: 5px;
    width: 100%;
    padding: var(--size-16) 0;
    font-weight: 700;
    font-size: var(--size-16);
}


/* Footer section */

footer {
    max-width: 75rem;
    margin: 0 auto;
    padding: 100px 0;
    background-color: white;
}

.footer-top {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding-bottom: 50px;
}

.footer-top-flex {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    text-align: left;
    padding: 0 50px;
    flex: .333;
}

.footer-top-flex>div {
    width: 43%;
    padding-bottom: 30px;
}

.footer-top-flex>p {
    font-weight: 600;
    color: grey;
    padding-bottom: 20px;
}

.footer-top-uls {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    width: 100%;
    flex: 1;
}

.footer-top-uls>h3 {
    font-weight: 700;
}

.footer-top-uls>div {
    flex: 1;
}

.footer-top-uls li {
    padding-bottom: 14px;
}

.footer-top-uls li a {
    line-height: var(--size-20);
    font-size: 14px;
    font-weight: 600;
    display: inline-block;
}

.footer-top-uls .btn {
    line-height: 13px;
    font-size: 10px;
    padding: 0 2px;
    border-radius: 5px;
    margin-left: 2px;
}

.footer-top-uls li a i {
    padding-right: 5px;
}

footer hr {
    height: 2px;
    color: var(--font-color-light);
    background-color: rgba(231, 231, 231, 1);
    border: none;
    width: 100%;
}

.footer-bottom {
    padding: 50px 0;
    text-align: center;
}

.footer-bottom-nav {
    padding-bottom: 20px;
}

.footer-bottom-nav ul {
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer-bottom-nav .push-right {
    margin-left: auto;
}

#footerCountries {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 150px;
    padding: 4px 0;
    background-color: rgb(189, 187, 187);
    border-radius: 5px;
}

#footerCountries>div {
    width: 15%;
}

#footerCountries>span {
    font-size: 14px;
    line-height: 1.2;
}

.footer-bottom>p {
    font-size: 12px;
    padding: 20px 0 0;
    margin: 0;
    font-weight: 600;
}

.footer-bottom>p:last-child {
    width: 70%;
    margin: 0 auto;
}