.background {
    width: 800px;
    height: 800px;
    background-color: rgb(248, 250, 254);
    position: relative;
    overflow: hidden;
}

.grey-square1 {
    height: 800px;
    width: 800px;
    background-color: rgba(243, 245, 247, 1);
    bottom: -100px;
    right: -100px;
    position: absolute;
    border-radius: 75px;
}

.white-square {
    height: 800px;
    width: 800px;
    background-color: white;
    bottom: -107px;
    right: -107px;
    position: absolute;
    border-radius: 75px;
}

.grey-square2 {
    height: 800px;
    width: 800px;
    background-color: rgba(243, 245, 247, 1);
    bottom: -114px;
    right: -114px;
    position: absolute;
    border-radius: 75px;
}